<div style="margin-top: 20px;" class="row">
  <ng-container *ngIf="responseData.length != 0">
    <div class="col-md-12">
      <div class="mb-3 card main-card">
        <div class="card-header" style="background-color: #2873b9;">
            <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
            <h2 style="color:white; text-align:center;">{{responseData.nepali_name}}</h2>
        </div>
        <div class="card-body">
          <p *ngIf="responseData.tables.length == 0 && responseData.sub_forms.length == 0" style="text-align:center;"> कुनै शीर्षक उपलब्ध छैन </p>
          <div *ngFor="let menuItem of responseData.sub_forms">
            <div class="font-icon-wrapper float-left mr-3 mb-3">
              <div class="loader-wrapper d-flex justify-content-center align-items-center">
                <div class="loader"><a (click)="navigateToTableList(menuItem.id)">
                  <img src="{{menuItem.icon_path}}" alt="" width="80"></a>
                </div>
              </div>
              <p>{{menuItem.nepali_name}}</p>
            </div>
          </div>
          <ng-container *ngFor="let menuItem of responseData.tables">
            <div class="font-icon-wrapper float-left mr-3 mb-3">
              <div class="loader-wrapper d-flex justify-content-center align-items-center">
                <div class="loader">
                  <a href="/#/guest/tables/details/{{menuItem.id}}">
                    <img src="{{menuItem.icon_path}}" alt="" width="80" *ngIf="menuItem.icon_path!= null">
                    <img src="{{responseData.icon_path}}" alt="" width="80" *ngIf="menuItem.icon_path == null">
                  </a>
                </div>
              </div>
              <p>{{menuItem.nepali_name}}</p>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>

</div>
