<div class="card main-card mb-3">
  <div class="card-header">
    <h2>{{ pageTitle }}</h2>
    <div class="btn-actions-pane-right text-capitalize">
      <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" (click)="exportTabulatorTable()">Export Data</button>

    </div>
  </div>


  <div class="card-body">
    <div style="margin-top: 20px;">
      <div class="mb-12 card">
        <div class="no-gutters row">
          <div class="col-md-12 col-sm-12" *ngIf="collections.length > 0">


            <div *ngFor="let collection of collections">
              <a (click)="addFilterToTabulator(collection.nepali_name); activeFilter=true; collect_title=collection.nepali_name; collect_icon_path=collection.icon_path;">
                <div class="font-icon-wrapper font-icon-lg">
                  <img src="{{collection.icon_path}}" alt="" width="40">
                  <!-- <p>{{collection.nepali_name}}</p> -->
                </div>
              </a>
            </div>
            <a (click)="resetFilter(); activeFilter=false;">
            <div class="font-icon-wrapper font-icon-lg"> <img src="{{icon}}" width="40"></div></a>


          </div>
          <div class="card mb-12" *ngIf="activeFilter">
            <div class="no-gutters row">


              <div class="col-md-12 col-lg-12">
                <ul class="list-group list-group-flush">
                  <li class="bg-transparent list-group-item">
                    <div class="widget-content p-0">
                      <div class="widget-content-outer">
                        <div class="widget-content-wrapper">
                          <div class="widget-content-left">
                            <div class="widget-heading"><h2>{{ collect_title }}</h2></div>
                            <!-- <div class="widget-subheading">Last year expenses</div> -->
                          </div>
                          <div class="widget-content-right">
                            <img src="{{collect_icon_path}}" width="100">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-12">
            <!--<ag-grid-angular
              #agGrid
              id="{{ gridId }}"
              style="width: auto; height: 600px;"
              class="ag-theme-alpine"
              [rowData]="rowData"
              [autoGroupColumnDef]="autoGroupColumnDef"
              [columnDefs]="colData"
              [defaultColDef]="defaultColDef"
              [animateRows]="true"
              [sideBar]="sideBar"
              [statusBar]="statusBar"
              [enableRangeSelection]="true"
              (gridReady)="onGridReady($event)"
              [enterMovesDown]="true"
              [enterMovesDownAfterEdit]="true"
              [editType]="editType"
              [enableCharts]="true"
            >
            </ag-grid-angular>-->

            <div id="my-tabular-table"></div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
