<div class="card main-card mb-3">
  <div class="card-header">
    Data
  </div>
  <div class="card-body">
    <mat-card>
      <mat-card-content>
        <mat-tab-group class="demo-tab-group">
          <mat-tab label="Table Data Designer">
            <div class="demo-tab-content">
              <app-table-designer></app-table-designer>
            </div>
          </mat-tab>
          <mat-tab label="Table Data Entry">
            <div class="demo-tab-content">
              <app-table-data-entry></app-table-data-entry>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
