
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">घर</a></li>
    <li class="breadcrumb-item "><a [routerLink]="" (click)="navigateToPreview()"> {{ pageTitle }} </a></li>
    <li class="breadcrumb-item"><a [routerLink]="" (click)="navigateToDetailsTables()"> Data Entry </a></li>
    <li class="breadcrumb-item active">Charts</li>
  </ol>
</nav>

<div class="card main-card mb-3">
  <div class="card-header">
    {{ pageTitle }}
    <div class="btn-actions-pane-right text-capitalize">
<!--      <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" (click)="navigateToDetailsTables()">Back to Data Entry</button>-->

      <div class="d-inline-block pull-right" ngbDropdown>
        <button class="btn btn-info btn-icon" ngbDropdownToggle>
          <span class="pr-2 opacity-7">
            <fa name="cog"></fa>
          </span>
        </button>
        <div ngbDropdownMenu>
          <div>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" (click)="navigateToDetailsTables()">
                  <i class="nav-link-icon lnr-pencil"></i>
                  <span>Back to Data Entry</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <div class="btn-actions-pane-right text-capitalize mb-3 card">
          <ng-container *ngFor="let index_col of index_cols">
            <mat-form-field style="padding: 5px;">
              <mat-select placeholder="Select a {{ index_col.title }}" (selectionChange)="changeFilters(index_col, $event)">
                <mat-option *ngFor="let option of index_col.options" value="{{ option.id }}">{{ option.nepali_name }} </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
          </ng-container>

          <!--<mat-form-field style="margin: 10px;" *ngFor="let index_col of index_cols">
            <mat-select placeholder="Select a option" [(ngModel)]="selectedIndexCol" (selectionChange)="buildOptions($event)">
              <mat-option *ngFor="let index_col of index_cols" [value]="index_col" >{{ index_col.title }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Select sub option" [(ngModel)]="selectedOption" (selectionChange)="renderCharts()">
              <mat-option *ngFor="let option of subOptions" [value]="option">
                {{ option.nepali_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>-->
<!--          <br>-->
          <mat-form-field style="padding: 5px;">
            <mat-select  placeholder="Select a aggregate function" [(value)]="aggregate_function" (selectionChange)="renderCharts()">
              <mat-option value="sum" selected="true">Sum</mat-option>
              <mat-option value="mean">Mean</mat-option>
              <mat-option value="min">Minimum</mat-option>
              <mat-option value="max">Maximum</mat-option>
              <mat-option value="count">Count</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="padding: 5px;">
            <mat-select  placeholder="Select a chart type" [(value)]="chartType">
              <mat-option value="bar">Bar</mat-option>
              <mat-option value="line">Line</mat-option>
              <mat-option value="pie">Pie</mat-option>
              <mat-option value="doughnut">Doughnut</mat-option>
              <mat-option value="radar">Radar</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-10">
        <div style="margin-top: 20px;">
          <div class="mb-3 card">
            <div class="no-gutters row">
              <div class="col-sm-12 col-md-12" *ngFor="let col_header of col_headers;let i = index;">
                <div id="myChart{{i}}">
                  <canvas baseChart style="height: auto;"
                          [datasets]="col_header.chartsData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [legend]="barChartLegend"
                          [chartType]="chartType"
                  >
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


