<div style="margin-top: 20px;">
  <div class="mb-3 card">
    <div class="card-header-tab card-header">
      <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
        <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
        Profile
      </div>
      <!--<div class="btn-actions-pane-right text-capitalize">
        <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" (click)="navigateToUpdateProfile()" >Update Profile</button>
        <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" (click)="navigateToChangePassword()" >Change Password</button>
      </div>-->
    </div>
    <div class="no-gutters row">
    <div class="col-sm-12 col-md-12">
      <ngb-tabset>
        <ngb-tab>
        <ng-template ngbTabTitle><span>Profile</span></ng-template>
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="main-card mb-3 card">
                <div class="card-body">
                  <form>
                    <div>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input placeholder="username" type="text" class="form-control">
                      </div>
                      <br>
                      <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-envelope"></i>
                        </span>
                        </div>
                        <input placeholder="Email" type="email" class="form-control">
                      </div>
                      <br>
                      <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" >Update Profile</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><span>Change Password</span></ng-template>
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div class="main-card mb-3 card">
                  <div class="card-body">
                    <form>
                      <div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                          </div>
                          <input placeholder="old password" type="password" class="form-control">
                        </div>
                        <br>
                        <div class="input-group">
                          <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-lock"></i>
                        </span>
                          </div>
                          <input placeholder="New Password" type="password" class="form-control">
                        </div>
                        <br>
                        <div class="input-group">
                          <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-lock"></i>
                        </span>
                          </div>
                          <input placeholder="Confirm Password" type="password" class="form-control">
                        </div>
                        <br>
                        <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" >Update Password</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
  </div>
</div>
