<div class="card main-card mb-3">
  <div class="card-header">
    {{ pageTitle }}
    <div class="btn-actions-pane-right text-capitalize">
      <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" (click)="addNewRow()">Add new row</button>
      <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" (click)="onBtStopEditing()">Save data</button>
    </div>
  </div>
  <div class="card-body">
    <div style="margin-top: 20px;">
      <div class="mb-3 card">
        <div class="no-gutters row">
          <div class="col-sm-6 col-md-6" style="padding: 10px;">
            <p class="text-muted" style="text-align: center;">वर्गीकृत</p>
            <ag-grid-angular
              #agGrid
              id="tableDesignerGrid"
              style="height: 600px;"
              class="ag-theme-alpine"
              [rowData]="rowData"
              [autoGroupColumnDef]="autoGroupColumnDef"
              [columnDefs]="colData"
              [defaultColDef]="defaultColDef"
              [animateRows]="true"
              (cellClicked)="onCellClicked($event)"
              (cellEditingStopped)="onCellEditingStopped($event)"
              (rowEditingStopped)="onRowEditingStopped($event)"
              (gridReady)="onGridReady($event)"
              [enterMovesDown]="true"
              [enterMovesDownAfterEdit]="true"
              [editType]="editType"
              [frameworkComponents]="frameworkComponents"
            >
            </ag-grid-angular>
          </div>
          <div class="col-sm-6 col-md-6" style="padding: 10px;">
            <ng-container *ngFor="let group of groups">
              <ng-container *ngIf="group.rowData.length > 0" style="margin-top: 10px;">
                <p class="text-muted" style="text-align: center;"> {{ group.nepali_name }} </p>
                <ag-grid-angular
                  #agGrid
                  style="height: 200px;"
                  class="ag-theme-alpine"
                  [rowData]="group.rowData"
                  [autoGroupColumnDef]="autoGroupColumnDef"
                  [columnDefs]="colData"
                  [defaultColDef]="defaultColDef"
                  [animateRows]="true"
                  (gridReady)="onGridReady($event)"
                  [enterMovesDown]="true"
                  [enterMovesDownAfterEdit]="true"
                  [editType]="editType"
                  [frameworkComponents]="frameworkComponents"
                >
                </ag-grid-angular>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


