<div class="card main-card mb-3">
  <div class="card-header">
    {{ pageTitle }}
    <div class="btn-actions-pane-right text-capitalize">
      <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" (click)="addNewRow()">Add new row</button>
      <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" (click)="onBtStopEditing()">Save data</button>
    </div>
  </div>
  <div class="card-body">
    <div style="margin-top: 20px;">
      <div class="mb-3 card">
        <div class="no-gutters row">
          <div class="col-sm-6 col-md-6" style="padding: 10px;">
            <p class="text-muted" style="text-align: center;">वर्गीकृत</p>
            <div class="inner-col">
              <ag-grid-angular
                style="height: 600px;"
                class="ag-theme-alpine"
                [rowData]="rowData"
                [autoGroupColumnDef]="autoGroupColumnDef"
                [columnDefs]="colData"
                [defaultColDef]="defaultColDef"
                [animateRows]="true"
                (cellClicked)="onCellClicked($event)"
                (cellEditingStopped)="onCellEditingStopped($event)"
                (rowEditingStopped)="onRowEditingStopped($event)"
                (gridReady)="onGridReady($event)"
                [enterMovesDown]="true"
                [enterMovesDownAfterEdit]="true"
                [editType]="editType"
                [frameworkComponents]="frameworkComponents"
                [rowDragManaged]="true"
                [modules]="modules"
                [getRowNodeId]="getRowNodeId"
                [suppressMoveWhenRowDragging]="true"
              >
              </ag-grid-angular>
            </div>
          </div>
          <div class="col-sm-6 col-md-6" style="padding: 10px;">

            <!--<ngb-accordion activeIds="static-0">
              <ngb-panel id="static-{{i}}" *ngFor="let group of groups; let i=index">
                <ng-container *ngIf="group.rowData.length > 0">
                  <ng-template ngbPanelTitle>
                    <span class="card-header&#45;&#45;title">{{ group.nepali_name }}</span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <ag-grid-angular
                      style="height: 200px;"
                      id="{{ group.id }}"
                      class="ag-theme-alpine"
                      [rowData]="group.rowData"
                      [columnDefs]="colData"
                      [defaultColDef]="defaultColDef"
                      [animateRows]="true"
                      (gridReady)="onCategorizedGroupGridReady($event, group, i)"
                      [editType]="editType"
                      [frameworkComponents]="frameworkComponents"
                      [rowDragManaged]="true"
                      [modules]="modules"
                      [getRowNodeId]="getRowNodeId"
                      [suppressMoveWhenRowDragging]="true"
                    >
                    </ag-grid-angular>
                  </ng-template>
                </ng-container>
              </ngb-panel>
            </ngb-accordion>-->

            <ng-container *ngFor="let group of displayed_groups; let i=index">
              <ng-container *ngIf="group.rowData.length > 0">
                <p class="text-muted" style="text-align: center;"> {{ group.nepali_name }} </p>
                <ag-grid-angular
                  style="height: 200px;"
                  id="{{ group.id }}"
                  class="ag-theme-alpine"
                  [rowData]="group.rowData"
                  [columnDefs]="colData"
                  [defaultColDef]="defaultColDef"
                  [animateRows]="true"
                  (gridReady)="onCategorizedGroupGridReady($event, group, i)"
                  [editType]="editType"
                  [frameworkComponents]="frameworkComponents"
                  [rowDragManaged]="true"
                  [modules]="modules"
                  [getRowNodeId]="getRowNodeId"
                  [suppressMoveWhenRowDragging]="true"
                  (rowDragEnd)="onRowDragEnd($event, group)"
                >
                </ag-grid-angular>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


