<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div>
        Gandaki State Province Data
        <div class="page-title-subheading">

        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12 col-md-6 col-xl-4">
    <div class="card mb-3 widget-chart">
      <div class="widget-chart-content">
        <div class="icon-wrapper rounded">
          <div class="icon-wrapper-bg bg-warning"></div>
          <i class="lnr-database"></i>
        </div>
        <div class="widget-numbers">
          <span>1</span>
        </div>
        <div class="widget-subheading fsize-1 pt-2 opacity-10 text-warning font-weight-bold">Forms</div>
      </div>
      <div class="widget-chart-wrapper">
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-xl-4">
    <div class="card mb-3 widget-chart">
      <div class="widget-chart-content">
        <div class="icon-wrapper rounded">
          <div class="icon-wrapper-bg bg-danger"></div>
          <i class="lnr-list text-danger"></i>
        </div>
        <div class="widget-numbers"><span>2</span></div>
        <div class="widget-subheading fsize-1 pt-2 opacity-10 text-danger font-weight-bold">
          Tables
        </div>
      </div>
      <div class="widget-chart-wrapper">
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-xl-4">
    <div class="card mb-3 widget-chart">
      <div class="widget-chart-content">
        <div class="icon-wrapper rounded">
          <div class="icon-wrapper-bg bg-info"></div>
          <i class="lnr-database"></i>
        </div>
        <div class="widget-numbers text-danger"><span>20</span></div>
        <div class="widget-subheading fsize-1 pt-2 opacity-10 text-info font-weight-bold">Entries</div>
      </div>
      <div class="widget-chart-wrapper">
      </div>
    </div>
  </div>
</div>


<div>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="mb-3 card" style="height: 300px;">
        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            तालिका
          </div>
        </div>
        <div class="table-responsive">
          <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">तालिका सूची</th>
              <th class="text-center">कार्यहरू</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let menuItem of menuItems">
              <ng-container *ngFor="let subMenuItem of menuItem.subForms">

              </ng-container>

              <tr *ngFor="let menuTable of menuItem.tables">
                <td class="text-center text-muted">{{ menuTable.id }}</td>
                <td class="text-center">{{ menuTable.nepali_name }}</td>

                <td class="text-center">
                  <button (click)="navigateToTable(menuTable.id)" type="button" class="btn btn-primary btn-sm">विवरण</button>
                </td>
              </tr>
            </ng-container>

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6" mx-auto>
      <div class="mb-3 card" style="height: 300px;" >
        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            फारामहरू
          </div>
        </div>
        <div class="table-responsive">
          <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">फाराम सूची</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let menuTable of menuItems">
              <td class="text-center text-muted">{{ menuTable.id }}</td>
              <td class="text-center">{{ menuTable.title }}</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="main-card mb-3 card" style="height: 300px;">
        <div class="card-body">
          <h5 class="card-title">About us</h5>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
            massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
            massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
            massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
            massa.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6" mx-auto>
      <div class="mb-3 card" style="height: 300px;" >
        <div class="card-header-tab card-header">
          <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            प्रकाशनहरू
          </div>
        </div>
        <div class="table-responsive">
          <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">प्रकाशन सूची</th>
              <th class="text-center">कार्यहरू</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td class="text-center text-muted">1</td>
              <td class="text-center">Data publication policy</td>
              <td class="text-center"><button type="button" class="btn btn-primary btn-sm">विवरण</button></td>
            </tr>
            <tr >
              <td class="text-center text-muted">2</td>
              <td class="text-center">Data request policy</td>
              <td class="text-center"><button type="button" class="btn btn-primary btn-sm">विवरण</button></td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
