<div style="margin-top: 20px;">
  <div class="mb-3 card">
    <div class="card-header-tab card-header">
      <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
        <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
        Profile
      </div>
      <div class="btn-actions-pane-right text-capitalize">
        <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" (click)="navigateToProfile()" >Profile</button>
        <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm" (click)="navigateToChangePassword()" >Change Password</button>
      </div>
    </div>
    <div class="no-gutters row">
    <div class="col-sm-12 col-md-12">
      Updating the profile
    </div>
  </div>
  </div>
</div>
